@font-face {
  font-family: "UniversProExtendedBold, Univers Next Pro";
  src: url("https://zen-developers.github.io/zendigital.github.io/assets/fonts/UniversExtendedBold.ttf");
  src: url("https://zen-developers.github.io/zendigital.github.io/assets/fonts/UniversExtendedBold.ttf") format('truetype');
  font-weight: 500;
  font-style: normal;
}


@font-face {
  font-family: "UniversNextPro-Cond, Univers Next Pro";
  src: url("/fonts/univers-next-pro-condensed-italic-58f39d8e22bb3.woff");
  src: url("/fonts/univers-next-pro-condensed-italic-58f39d8e22bb3.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "UniversNextPro-LitCond, Univers Next Pro";
  src: url("/fonts/univers-next-pro-light-condensed-58f3aae7e5bce.woff");
  src: url("/fonts/univers-next-pro-light-condensed-58f3aae7e5bce.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "UniversNextPro-Exd, Univers Next Pro";
  src: url("/fonts/univers-next-pro-extended-58f39ec1d8e7a.woff");
  src: url("/fonts/univers-next-pro-extended-58f39ec1d8e7a.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "UniversNextPro-BoldExd, Univers Next Pro";
  src: url("/fonts/univers-next-pro-bold-extended-58f39f53743a3.woff");
  src: url("/fonts/univers-next-pro-bold-extended-58f39f53743a3.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "UniversNextPro-Bold, Univers Next Pro";
  src: url("/fonts/univers-next-pro-bold-58f40d9eaccce.woff");
  src: url("/fonts/univers-next-pro-bold-58f40d9eaccce.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "UniversNextPro-BoldItalic, Univers Next Pro";
  src: url("/fonts/univers-next-pro-bold-italic-58f40c731bf15.woff");
  src: url("/fonts/univers-next-pro-bold-italic-58f40c731bf15.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "UniversNextPro-BoldCondItalic, Univers Next Pro";
  src: url("/fonts/univers-next-pro-bold-condensed-italic-58f39c6eaa205.woff");
  src: url("/fonts/univers-next-pro-bold-condensed-italic-58f39c6eaa205.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}


@font-face {
  font-family: "UniversNextPro-Thin, Univers Next Pro";
  src: url("/fonts/univers-next-pro-thin-58f39cd9e4cc4.woff");
  src: url("/fonts/univers-next-pro-thin-58f39cd9e4cc4.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Akzidenz-grotesk-light';
  src: local('Akzidenz-grotesk-light'), url('/fonts/Akzidenz-grotesk-light.ttf') format('truetype');
}
/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_9785">Text with this font applied</p> */
.fontsforweb_fontid_9785 {
  font-family: 'gothic' !important;
}

/* Font downloaded from FontsForWeb.com */


@font-face {
  font-family: 'UniversExtendedBold';
  src: local('UniversExtendedBold'), url('https://zen-developers.github.io/zendigital.github.io/assets/fonts/UniversExtendedBold.ttf') format('truetype');
}
/* Font downloaded from FontsForWeb.com */



@font-face {
  font-family: 'gothic';
  src: url('./gothic.eot');
  src: local('gothic'), url('/fonts/gothic/gothic.ttf') format('truetype');
}
/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_9785">Text with this font applied</p> */
.fontsforweb_fontid_9785 {
  font-family: 'gothic' !important;
}

/* Font downloaded from FontsForWeb.com */

