.blog-grid__wrapper__card{-webkit-text-decoration:none;text-decoration:none;}.blog-grid__wrapper{background-color:white;}
.blog-grid__wrapper__card__text{background-color:black;margin-bottom:40px;margin-left:-3px;}
.blog-grid__wrapper__card__thumbnail{background-color:black;line-height:0px;}
.blog-grid__wrapper__card__text__title{color:white;background-color:black;}
.blog-grid__wrapper__card__text__summary{color:white;background-color:black;}