
.section-header{position:relative;}
.section-header a{-webkit-text-decoration:none;text-decoration:none;}
.section-header__wrapper{border-top:0px solid #000;}
.section-header__wrapper__title{color:#000000;}
.section-header__wrapper__subhead{text-transform:uppercase;}