.topic__date{white-space:nowrap;overflow:hidden;-o-text-overflow:ellipsis;text-overflow:ellipsis;}
.grid_text_image{position:relative;}
.grid_topic{line-height:1;position:absolute;margin-bottom:17px;background-color:black;z-index:1;}
