
              <div>

                <div class="hero m-b-7-1" priority="2" style="background-image: url(http://images.weserv.nl/?url=zen-developers.github.io/zendigital.github.io/{{site.posts[0].image}}&w=200&h=200&output=jpg&q=65)">
                  
                  <a href="{{site.posts[0].url}}">

                    <div class="hero__mask col-12-xs dsp-flex-xs flex-wrap grd-algn-flex-end-xs p-6-l p-t-7-xl p-r-7-xl p-b-6-xl p-l-7-xl">

                      <div class="hero__content col-10-l col-6-hd">

                            <h2 class="hero__content__title hed-xl m-b-3-xs">{{site.posts[0].title}}</h2>

                        <div class="hero__content__dek m-b-4-xs bod-m">

                            {{site.posts[0].byline}}
                        </div>

                      </div>

                    </div>

                  </a>

                </div>

              </div>
              
              <div class="ad-width odd-not-rendered t-homepage m-b-6-xs m-b-7-m m-l-6-m m-r-6-m m-l-7-xl m-r-7-xl m-l-aut-hd m-r-aut-hd homepage-ad-container">
              </div>
