<div class="navbar navbar--closed">
  <div>
    <nav class="navbar__body--wrap p-b-4-xs p-b-5-m">
      <div class="mobile-nav-hotspot"></div>
      <div class="navbar__body__header dsp-flex-xs p-l-4-xs p-l-5-m">
        <div class="icon-close__wrapper m-b-aut-xs m-t-aut-xs dsp-none-xs">
          <img class="icon icon-close dsp-block-xs" />{:src => "https://vice-web-statics-cdn.vice.com/icons/close-navigation-menu-dark.svg"}/</div>
      </div>
      <div class="navbar__body navbar__sections p-l-4-xs p-l-5-m p-b-4-xs p-b-5-m p-r-4-xs p-r-5-m">
        <div class="nav__search-bar p-3-xs dsp-flex-xs grd-algn-center-xs">
          <input id="search" class="search-input hed-m dsp-inline-xs col-11-xs" />{:placeholder => "Search...", :required => "", :value => ""}/<div class="search-icon__wrapper col-1-xs text-right-xs">
            <img class="search-icon" />{:alt => "search", :src => "https://vice-web-statics-cdn.vice.com/icons/search-magnifying-dark.svg"}/</div>
        </div>
        <div class="navbar__section navbar__section--tier-1 p-t-5-xs">
          <ul class="navbar__section__items">
            <li class="navbar__section__item">
              <div>
                <a class="hed-m">{:href => "https://i-d.vice.com/en_uk/read", :title => "Read"} Read</a>
              </div>
            </li>
            <li class="navbar__section__item">
              <div>
                <a class="hed-m">{:href => "https://video.vice.com/en_uk/channel/i-d?ref=i-d", :target => "_blank", :title => "Watch"} Watch</a>
              </div>
            </li>
          </ul>
        </div>
        <div class="navbar__section navbar__section--tier-2 p-t-5-xs">
          <ul class="navbar__section__items">
            <div class="navbar__section__items--heading hed-xxs m-b-3-xs">Topics</div>
            <li class="navbar__section__item">
              <div>
                <a class="hed-m">{:href => "/en_uk/topic/news", :title => "news"} news</a>
              </div>
            </li>
            <li class="navbar__section__item">
              <div>
                <a class="hed-m">{:href => "/en_uk/topic/fashion", :title => "fashion"} fashion</a>
              </div>
            </li>
            <li class="navbar__section__item">
              <div>
                <a class="hed-m">{:href => "/en_uk/topic/culture", :title => "culture"} culture</a>
              </div>
            </li>
            <li class="navbar__section__item">
              <div>
                <a class="hed-m">{:href => "/en_uk/topic/photography", :title => "photography"} photography</a>
              </div>
            </li>
            <li class="navbar__section__item">
              <div>
                <a class="hed-m">{:href => "/en_uk/topic/music", :title => "music"} music</a>
              </div>
            </li>
            <li class="navbar__section__item">
              <div>
                <a class="hed-m">{:href => "/en_uk/topic/beauty", :title => "beauty"} beauty</a>
              </div>
            </li>
            <li class="navbar__section__item">
              <div>
                <a class="hed-m">{:href => "/en_uk/topic/opinion", :title => "opinion "} opinion</a>
              </div>
            </li>
            <li class="navbar__section__item">
              <div>
                <a class="hed-m">{:href => "/en_uk/topic/straight-ups", :title => "straight ups"} straight ups</a>
              </div>
            </li>
            <li class="navbar__section__item">
              <div>
                <a class="hed-m">{:href => "/en_uk/topic/i-d-podcast", :title => "podcast"} podcast</a>
              </div>
            </li>
            <li class="navbar__section__item">
              <div>
                <a class="hed-m">{:href => "https://i-dstore.co/", :target => "_blank", :title => "store"} store</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="navbar__footer col-12-xs dsp-block-xs p-t-5-xs p-l-4-xs p-l-5-m p-r-4-xs p-r-5-m p-b-5-xs">{"data-type" => "footer"}
        <div class="navbar__footer__logo dsp-block-xs p-b-5-xs">
          <img class="dsp-block-xs" />{:alt => "footer logo", :src => "https://vice-web-statics-cdn.vice.com/logos/i-d-logo-white.svg"}/</div>
        <ul class="navbar__social-section grd-just-center-xs m-b-0-xs">
          <li class="m-b-0-xs m-r-3-xs m-b-3-xs">
            <a>{:href => "https://www.facebook.com/id.co", :target => "_blank"}
              <img class="icon-facebook" />{:alt => "Facebook", :src => "https://vice-web-statics-cdn.vice.com/icons/facebook.svg"}/</a>
          </li>
          <li class="m-b-0-xs m-r-3-xs m-b-3-xs">
            <a>{:href => "https://twitter.com/i_D", :target => "_blank"}
              <img class="icon-twitter" />{:alt => "Twitter", :src => "https://vice-web-statics-cdn.vice.com/icons/twitter.svg"}/</a>
          </li>
          <li class="m-b-0-xs m-r-3-xs m-b-3-xs">
            <a>{:href => "https://i-donline.tumblr.com", :target => "_blank"}
              <img class="icon-tumblr" />{:alt => "Tumblr", :src => "https://vice-web-statics-cdn.vice.com/icons/tumblr.svg"}/</a>
          </li>
          <li class="m-b-0-xs m-r-3-xs m-b-3-xs">
            <a>{:href => "https://www.youtube.com/user/idmagazineonline%3Fsub_confirmation%3D1", :target => "_blank"}
              <img class="icon-youtube" />{:alt => "YouTube", :src => "https://vice-web-statics-cdn.vice.com/icons/youtube-white.svg"}/</a>
          </li>
          <li class="m-b-0-xs m-r-3-xs m-b-3-xs">
            <a>{:href => "https://instagram.com/i_d", :target => "_blank"}
              <img class="icon-instagram" />{:alt => "Instagram", :src => "https://vice-web-statics-cdn.vice.com/icons/instagram-white.svg"}/</a>
          </li>
        </ul>
        <div class="locales-dropdown m-t-3-xs m-b-3-xs">
          <div class="locales-dropdown__title hed-xxs m-b-2-xs">Edition</div>
          <div class="current-locale hed-xs m-t-1-xs m-b-1-xs">
            <span class="current-locale__language dsp-inline-block-xs m-r-1-xs">en</span>
            <span class="current-locale__label dsp-inline-block-xs bod-xs">United Kingdom</span>
            <span class="current-locale__indicator dsp-inline-block-xs float-right-xs">
              <img class="icon icon-dropdown-caret" />{:src => "https://vice-web-statics-cdn.vice.com/icons/dropdown-caret.svg"}/</span>
          </div>
          <ul class="locales-dropdown__list">
            <li class="locales-dropdown__list-item hed-xs m-b-1-xs">
              <span class="locales-dropdown__list-item__language dsp-inline-block-xs m-r-1-xs">en</span>
              <span class="locales-dropdown__list-item__label bod-xs dsp-inline-block-xs">Australia</span>
            </li>
            <li class="locales-dropdown__list-item hed-xs m-b-1-xs">
              <span class="locales-dropdown__list-item__language dsp-inline-block-xs m-r-1-xs">fr</span>
              <span class="locales-dropdown__list-item__label bod-xs dsp-inline-block-xs">France</span>
            </li>
            <li class="locales-dropdown__list-item hed-xs m-b-1-xs">
              <span class="locales-dropdown__list-item__language dsp-inline-block-xs m-r-1-xs">de</span>
              <span class="locales-dropdown__list-item__label bod-xs dsp-inline-block-xs">Germany</span>
            </li>
            <li class="locales-dropdown__list-item hed-xs m-b-1-xs">
              <span class="locales-dropdown__list-item__language dsp-inline-block-xs m-r-1-xs">it</span>
              <span class="locales-dropdown__list-item__label bod-xs dsp-inline-block-xs">Italy</span>
            </li>
            <li class="locales-dropdown__list-item hed-xs m-b-1-xs">
              <span class="locales-dropdown__list-item__language dsp-inline-block-xs m-r-1-xs">ja</span>
              <span class="locales-dropdown__list-item__label bod-xs dsp-inline-block-xs">Japan</span>
            </li>
            <li class="locales-dropdown__list-item hed-xs m-b-1-xs">
              <span class="locales-dropdown__list-item__language dsp-inline-block-xs m-r-1-xs">es</span>
              <span class="locales-dropdown__list-item__label bod-xs dsp-inline-block-xs">Mexico</span>
            </li>
            <li class="locales-dropdown__list-item hed-xs m-b-1-xs">
              <span class="locales-dropdown__list-item__language dsp-inline-block-xs m-r-1-xs">nl</span>
              <span class="locales-dropdown__list-item__label bod-xs dsp-inline-block-xs">Netherlands</span>
            </li>
            <li class="locales-dropdown__list-item hed-xs m-b-1-xs">
              <span class="locales-dropdown__list-item__language dsp-inline-block-xs m-r-1-xs">pl</span>
              <span class="locales-dropdown__list-item__label bod-xs dsp-inline-block-xs">Poland</span>
            </li>
            <li class="locales-dropdown__list-item hed-xs m-b-1-xs">
              <span class="locales-dropdown__list-item__language dsp-inline-block-xs m-r-1-xs">es</span>
              <span class="locales-dropdown__list-item__label bod-xs dsp-inline-block-xs">Spain</span>
            </li>
            <li class="locales-dropdown__list-item hed-xs m-b-1-xs">
              <span class="locales-dropdown__list-item__language dsp-inline-block-xs m-r-1-xs">en</span>
              <span class="locales-dropdown__list-item__label bod-xs dsp-inline-block-xs">United Kingdom</span>
            </li>
            <li class="locales-dropdown__list-item hed-xs m-b-1-xs">
              <span class="locales-dropdown__list-item__language dsp-inline-block-xs m-r-1-xs">en</span>
              <span class="locales-dropdown__list-item__label bod-xs dsp-inline-block-xs">United States</span>
            </li>
          </ul>
        </div>
        <ul class="navbar__footer__items dsp-block-xs m-0-xs">
          <li class="hed-xs">
            <a>{:href => "/en_uk/page/i-d-legal-en-uk"} Legal</a>
          </li>
          <li class="hed-xs">
            <a>{:href => "https://i-dstore.co/", :target => "_blank"} Store</a>
          </li>
          <li class="hed-xs">
            <a>{:href => "/en_uk/page/i-d-contact-en-uk"} Contact</a>
          </li>
          <li class="hed-xs">
            <a>{:href => "/en_uk/page/i-d-about-us-en-uk"} About Us</a>
          </li>
          <li class="hed-xs">
            <a>{:href => "https://www.vice.com/en_uk/page/vice-media-privacy-policy", :target => "_blank"} VICE MEDIA PRIVACY POLICY</a>
          </li>
          <li class="hed-xs">
            <a>{:href => "https://www.vice.com/en_uk/page/terms-of-use-58477f130c5fe601ec45fe4d", :target => "_blank"} TERMS</a>
          </li>
          <li class="hed-xs">
            <a>{:href => "https://pm.sourcepoint.mgr.consensu.org/?privacy_manager_id=5b9d2e7ce43e9b25912c2fad&site_id=1355&consent_origin=https://sourcepoint.mgr.consensu.org&mmsDomain=sourcepoint.vice.com", :target => "_blank"} Manage My Privacy Settings</a>
          </li>
        </ul>
        <div class="navbar__footer__row dsp-block-xs m-t-5-xs m-b-5-xs">
          <div class="navbar__footer__copyright hed-xxs dsp-block-xs">© 2019 i-D Magazine</div>
        </div></div>
    </nav>
  </div>
</div>
<div class="overlay"></div>
<div id="modal-root"></div>
