<div class="navbar navbar--closed">

	<nav class="navbar__body--wrap p-b-4-xs p-b-5-m">

		<div class="mobile-nav-hotspot"></div>

		<div class="navbar__body__header dsp-flex-xs p-l-4-xs p-l-5-m">

			<div class="icon-close__wrapper m-b-aut-xs m-t-aut-xs dsp-none-xs">

				<img class="icon icon-close dsp-block-xs" src="https://vice-web-statics-cdn.vice.com/icons/close-navigation-menu-dark.svg">

			</div>

		</div>

		<div class="navbar__body navbar__sections p-l-4-xs p-l-5-m p-b-4-xs p-b-5-m p-r-4-xs p-r-5-m">

			<div class="nav__search-bar p-3-xs dsp-flex-xs grd-algn-center-xs">

		</div>

</div>