 <!-- END VENDOR LIBRARIES -->
  
<script id="__LOADABLE_REQUIRED_CHUNKS__" type="application/json">[0,1,2,3,31,55,38,39,25]</script>
<script data-chunk="common" src="/zendigital.github.io/assets/js/vendor.ui-components.b5f738664e2da9c15088.js"></script>
<script data-chunk="common" src="/zendigital.github.io/assets/js/vendor.apollo.7661104ab579a288a3b0.js"></script>
<script data-chunk="common" src="/zendigital.github.io/assets/js/vendor.react.0c5c5d339ebe56220b77.js"></script>
<script data-chunk="common" src="/zendigital.github.io/assets/js/vendor.react-router.adc35435e5aaf18736dc.js"></script>
<script data-chunk="common" src="/zendigital.github.io/assets/js/vendor.lodash.73c31f82ae422bd28b18.js"></script>
<script data-chunk="common" src="/zendigital.github.io/assets/js/vendor.9379b311b0b2cc12c7e2.js"></script>
<script data-chunk="common" src="/zendigital.github.io/assets/js/common.57b685e6cc1879eab168.js"></script>
<script data-chunk="assets" src="/zendigital.github.io/assets/js/assets.f71dfe0033a785dade17.js"></script>
<script data-chunk="zen" src="/zendigital.github.io/assets/js/zen.43dc9a682be20a1f7d0c.js"></script>

<script type="text/javascript" src="assets/js/intl-messageformat-with-locales.min.js"></script>

<!-- I think this is for scroll -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- new -->
<script type="text/javascript" src="assets/js/front.min.js"></script>

<script type="text/javascript" src="assets/js/jquery.flexslider.js"></script>

<script type="text/javascript" src="assets/js/jquery-migrate.min.js"></script>

<script type="text/javascript" src="assets/js/jquery.blockUI.min.js"></script>

<script type="text/javascript" src="assets/js/jquery.js"></script>

<script type="text/javascript" src="assets/js/jquery.infinitescroll.js"></script>

<script type="text/javascript" src="assets/js/add-to-cart.min.js"></script>

<script type="text/javascript" src="assets/js/api.js"></script>

<script type="text/javascript" src="assets/js/cart-fragments.min.js"></script>

<script type="text/javascript" src="assets/js/slick.min.js"></script>

<script type="text/javascript" src="assets/js/wp-embed.min.js"></script>

<script type="text/javascript" src="assets/js/widgetApi.js"></script>

<script type="text/javascript" src="assets/js/modernizr.js"></script>

<script type="text/javascript" src="assets/js/prefixfree.min.js"></script>

<script type="text/javascript" src="assets/js/scripts.js"></script>

<script type="text/javascript" src="assets/js/bj-lazy-load.min.js"></script>

<script type="text/javascript" src="assets/js/osd.js"></script>

<script type="text/javascript" src="assets/js/sfp.js"></script>

<script type="text/javascript" src="assets/js/chartbeat.js"></script>

<!-- Screen Sizing -->

<script type="text/javascript" src="assets/js/rate-limit.js"></script>

<script data-chunk="home-page" src="assets/js/home-page.0d7e93e288e1b0e3f2ef.js"></script>
<script data-chunk="siteheader" src="assets/js/siteheader.58098cbc7026ae10eb1.js"></script>
<script data-chunk="navbar" src="assets/js/navbar.644b02da65bc67feed8b.js"></script>
<script data-chunk="navfooter" src="assets/js/navfooter.f3e672feb51aed506aaf.js"></script>
<script data-chunk="footer" src="assets/js/footer.00c4cc4b52252868e407.js"></script>
<script data-chunk="footer" src="assets/js/angular.min.js"></script>


<!-- This is The Header Animation -->

<!-- cover story --->
<script type="text/javascript">

(function(){
	'use strict';

	var element = document.createElement('div')

	element.style.cssText = "width:200px;"

	document.body.appendChild('element');


}());

</script>


<!-- cover story 
<script type="text/javascript">

(function(){
	'use strict';

	var newElement= document.createElement('div');
	//newElement.textContent = 'I am a new Element';

	var div = document.getElement('homepage');

	
	//list.appendChild(newElement);

	//list.insertBefore(newElement,list.firstElementChild);

	var replaceElement = document.createElement('div');
	replaceElement.textcontent = 'I am replacing you';

	div.replaceChild(replaceElement,newElement);

	//list.removeChild(newElement);

	console.log(newElement);

}());

</script>

--->