
<div class="blog-grid site-width p-l-4-xs p-r-4-xs p-r-6-m-ne p-l-6-m p-r-7-ne p-l-7-ne m-b-6-m">
    <div class="blog-grid__wrapper">
      <a class="blog-grid__wrapper__card grd-row p-t-3-xs" href="/en_us/article/3kx7kj/why-we-need-more-sober-safe-spaces-for-marginalized-communities">
        <div class="grid_topic dsp-none-m p-b-2-xs p-l-1-xs">
          <div class="canonical__topic hed-xs dsp-inline-xs">
            <span>Opinion</span>
          </div>
        </div>
        <div class="grid_text_image grd-col col-12-xs col-6-m col-8-hd m-b-6-m">
          <div class="blog-grid__wrapper__card__thumbnail__wrapper col-12-xs">
            <div class="blog-grid__wrapper__card__thumbnail">
              <picture>
                <source srcset="/img/small.jpg?crop=1xw%3A0.372xh%3B0xw%2C0.1907xh&amp;resize=1050%3A*&amp;output-quality=55" media="(min-width: 850px)">
                <source srcset="/img/small.jpg?crop=1xw%3A0.372xh%3B0xw%2C0.1907xh&amp;resize=850%3A*&amp;output-quality=55" media="(min-width: 650px)">
                <source srcset="/img/small.jpg?crop=1xw%3A0.372xh%3B0xw%2C0.1907xh&amp;resize=750%3A*&amp;output-quality=55" media="(min-width: 400px)">
                <source srcset="/img/small.jpg?crop=1xw%3A0.372xh%3B0xw%2C0.1907xh&amp;resize=650%3A*&amp;output-quality=55" media="(min-width: 0px)">
                <img priority="2" class=" " src="/img/small.jpg?crop=1xw%3A0.372xh%3B0xw%2C0.1907xh&amp;resize=650%3A*&amp;output-quality=55">
              </picture>
            </div>
          </div>
        </div>
        <div class="blog-grid__wrapper__card__text grd-col col-12-xs col-6-m col-4-hd">
          <div class="p-t-4-xs p-b-4-xs p-t-0-m p-r-0-ne p-b-6-m p-l-0-m">
            <div class="p-b-2-xs dsp-none-xs dsp-block-m">
              <div class="canonical__topic hed-xs dsp-inline-xs">
                <span>Opinion</span>
              </div>
            </div>
            <div>
              <h2 class="blog-grid__wrapper__card__text__title hed-l m-b-2-xs">Olafur Eliasson wants you to see, hear, touch, smell & taste his art</h2>
              <div class="blog-grid__wrapper__card__text__summary bod-s m-b-2-xs">If we want to get serious about intersectional mental health, we first have to create more sober spaces for QTIBPOC.
              </div>
            </div>
            <div class="grid__wrapper__card__text__contributors comma_ampersand_list dsp-inline-block-xs">
              <div class="grid__wrapper__card__text__contributor hed-xxs">Aisha Mirza
              </div>
            </div>
            <div class="dsp-inline-xs hed-xxs canonical__date hed-xxs">10.8.19
            </div>
          </div>
        </div>
      </a>
    </div>
</div>